# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/fokuz
web/app/mu-plugins/*/
web/app/themes/twentytwentyfour/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/uploads-webpc
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log
web/app/wflogs/*

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

.idea/
.htaccess.swo
.htaccess.swp
