#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^fokuz.photo$ [NC,OR]
#RewriteCond %{HTTP_HOST} ^www.fokuz.photo$
#RewriteCond %{REQUEST_URI} !public_html/
#RewriteRule (.*) /public_html/$1 [L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

