RewriteEngine on

# Allow intermediate-sized images without restrictions
RewriteCond %{REQUEST_URI} ^/.*-\d+x\d+\.(jpg|png|gif)$ [NC]
RewriteRule \.(jpg|png|gif)$ - [L]

# Block hotlinking from external referrers for full-size images
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?fokuz\.photo [NC]
RewriteRule \.(jpg|png|gif)$ - [F,L]

# Allow access to full-sized images only if they exist
RewriteCond %{REQUEST_FILENAME} -s
RewriteRule \.(jpg)$ - [L]